#sidebar {
    position: sticky; 
    top: 0px; 
    padding: 10px; 
    border-radius: 4px;
}

#sidebar p {
    text-align: center;
}

#download-pdf {
    background-color: #dee2e6; 
    border-radius: 4px; 
    display: flex; 
    justify-content: center; 
    background-color: #ff5300;
}
#download-pdf a {
    padding: 2px 10px; 
    color: #fff;
}
#earnest-money {
    margin: 20px 2px;
}


.wrapper-confidence {
  background: #dee2e6;
  padding: 15px;
  border-radius: 2px;
  box-shadow: 1px 1px 4px #444;
  /* margin-top: 128px; */
  margin-bottom: 30px;
}
.wrapper-confidence h2 {
    font-size: 28px;
    font-family: six caps;
    text-transform: lowercase;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 8px;
}
.item {
  display: flex;
  gap: 15px;
}
.items span:nth-child(2) {
  font-size: 13px;
  color: #565656;
  letter-spacing: 0px;
  word-spacing: 1px;
  font-style: italic;
  
}

/*  */
#wrapper-need-help {
  background: #fff;
  padding: 15px;
  border-radius: 2px;
  box-shadow: 1px 1px 4px #444;
  margin-bottom: 30px;
}
#wrapper-need-help h2 {
    font-size: 28px;
    font-family: six caps;
    text-transform: lowercase;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 8px;
}
.items span i {
    color: #ff5300;
}
#wrapper-need-help p {
    font-size: 13px;
    text-align: justify;
    line-height: 17px;
}